<section class="mg-top-40">
    <div class="page-header">
        <h1> <i class="md md-camera"></i> All Users</h1>
        <p class="lead"> Some description for all user menu here</u>. </p>
    </div>

    <md-card>
        <md-toolbar class="md-table-toolbar md-default" ng-show="!user.filter.show  && (!user.options.rowSelection || !user.selected.length)">
            <div class="md-toolbar-tools">
                <!--<span>Users</span>-->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="user.filter.show=true;">
                    <md-icon>search</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="user.getData()">
                    <md-icon>refresh</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="user.createNewData()">
                    <md-icon class="icon-red">add</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar md-default" ng-show="user.filter.show">
            <div class="md-toolbar-tools">
                <md-icon class="material-icons">search</md-icon>
                <form name="filter.form" flex>
                    <input type="text" ng-model="user.query.filter.keyword" placeholder="search" class="full-width">
                </form>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="user.closeSearch()" aria-label="close">
        <md-icon class="material-icons">close</md-icon>
        <div class="md-ripple-container"></div></button>
            </div>
        </md-toolbar>


        <md-table-container>
            <table md-table md-row-select ng-model="user.selected">
                <thead md-head md-order="user.query.order" md-on-reorder="user.users">
                    <tr md-row>
                        <th md-column></th>
                        <th md-column md-order-by="name"><span>Name</span></th>
                        <th md-column md-order-by="birthdate"><span>Birthdate</span></th>
                        <th md-column md-order-by="email"><span>Email</span></th>
                        <th md-column md-order-by="gender"><span>Gender</span></th>
                        <th md-column md-order-by="phone"><span>Phone</span></th>
                        <th md-column md-order-by="cardNumber"><span>Card Number</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select-id="name" md-auto-select ng-repeat="u in user.users | filter:user.query.filter.keyword | orderBy: user.query.order | limitTo: user.query.limit: (user.query.page - 1) * user.query.limit">
                        <td md-cell class="no-padding">
                            <button type="button" class="btn btn-link btn-round" data-title="Edit item"><i class="md md-edit"></i><div class="ripple-wrapper"></div></button>
                            <md-menu>
                                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="user.openMenu($mdMenu, $event)">
                                    <md-icon class="material-icons">more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="user.viewData($event, u)">
                                            <md-icon class="material-icons">visibility</md-icon>
                                            <span>View</span>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="user.editData($event, u)">
                                            <md-icon class="material-icons">mode_edit</md-icon>
                                            Edit
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button ng-click="user.onDelete($event, u)">
                                            <md-icon class="material-icons">delete</md-icon>
                                            Delete
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                        <td md-cell>{{u.name}}</td>
                        <td md-cell>{{u.birthdate}}</td>
                        <td md-cell>{{u.email}}</td>
                        <td md-cell>{{u.gender}}</td>
                        <td md-cell>{{u.phone}}</td>
                        <td md-cell>{{u.cardNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="user.query.limit" md-limit-options="[10, 25, 50]" md-page="user.query.page" md-total="{{user.users.length}}"></md-table-pagination>

    </md-card>

</section>